<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- thumb -->
    <joint name="rh_servo_1">
        <command_interface name="position">
            <param name="min">${servo_min}</param>
            <param name="max">${servo_max}</param>
        </command_interface>
        <state_interface name="position" />
        <!-- PCA9685 parameters -->
        <param name="servo_channel">0</param>
        <param name="pwm_min">500</param>
        <param name="pwm_max">2500</param>
        <param name="pwm_slope">13.05</param>
        <param name="pwm_intercept">352.17</param>
        <!-- ADS7138 parameters -->
        <param name="adc_channel">0</param>
        <param name="adc_slope">2.36</param>
        <param name="adc_intercept">90.82</param>
    </joint>

    <!-- index -->
    <joint name="rh_servo_2">
        <command_interface name="position">
            <param name="min">${servo_min}</param>
            <param name="max">${servo_max}</param>
        </command_interface>
        <state_interface name="position" />
        <!-- PCA9685 parameters -->
        <param name="servo_channel">1</param>
        <param name="pwm_min">500</param>
        <param name="pwm_max">2500</param>
        <param name="pwm_slope">12.78</param>
        <param name="pwm_intercept">357.69</param>
        <!-- ADS7138 parameters -->
        <param name="adc_channel">1</param>
        <param name="adc_slope">2.49</param>
        <param name="adc_intercept">101.49</param>
    </joint>

    <!-- middle -->
    <joint name="rh_servo_3">
        <command_interface name="position">
            <param name="min">${servo_min}</param>
            <param name="max">${servo_max}</param>
        </command_interface>
        <state_interface name="position" />
        <!-- PCA9685 parameters -->
        <param name="servo_channel">2</param>
        <param name="pwm_min">500</param>
        <param name="pwm_max">2500</param>
        <param name="pwm_slope">12.96</param>
        <param name="pwm_intercept">411.49</param>
        <!-- ADS7138 parameters -->
        <param name="adc_channel">2</param>
        <param name="adc_slope">2.24</param>
        <param name="adc_intercept">108.88</param>
    </joint>

    <!-- ring -->
    <joint name="rh_servo_4">
        <command_interface name="position">
            <param name="min">${servo_min}</param>
            <param name="max">${servo_max}</param>
        </command_interface>
        <state_interface name="position" />
        <!-- PCA9685 parameters -->
        <param name="servo_channel">3</param>
        <param name="pwm_min">500</param>
        <param name="pwm_max">2500</param>
        <param name="pwm_slope">12.51</param>
        <param name="pwm_intercept">443.14</param>
        <!-- ADS7138 parameters -->
        <param name="adc_channel">3</param>
        <param name="adc_slope">2.26</param>
        <param name="adc_intercept">108.08</param>
    </joint>

    <!-- pinky -->
    <joint name="rh_servo_5">
        <command_interface name="position">
            <param name="min">${servo_min}</param>
            <param name="max">${servo_max}</param>
        </command_interface>
        <state_interface name="position" />
        <!-- PCA9685 parameters -->
        <param name="servo_channel">4</param>
        <param name="pwm_min">500</param>
        <param name="pwm_max">2500</param>
        <param name="pwm_slope">12.87</param>
        <param name="pwm_intercept">372.07</param>
        <!-- ADS7138 parameters -->
        <param name="adc_channel">4</param>
        <param name="adc_slope">2.29</param>
        <param name="adc_intercept">97.49</param>
    </joint>
</robot>