<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="hardware" type="system">
    <hardware>
        <plugin>hardware/BothovenHardware</plugin>
    </hardware>
    <xacro:include filename="$(find hardware)/urdf/stepper_joints.xacro"/>
    <xacro:include filename="$(find hardware)/urdf/solenoid_joints.xacro"/>
    <xacro:include filename="$(find hardware)/urdf/servo_joints.xacro"/>
  </ros2_control>
</robot>