<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name="lh_stepper">
        <command_interface name="position">
            <param name="min">${left_stepper_min}</param>
            <param name="max">${left_stepper_max}</param>
        </command_interface>
        <state_interface name="position" />
    </joint>
</robot>