<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="bothoven_ros2_control" params="use_sim">

    <ros2_control name="left_stepper_driver" type="system" is_async="false">
      <xacro:if value="${use_sim}">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="${use_sim}">
        <hardware>
          <plugin>cl42t_hardware_interface/Cl42tSystemHardware</plugin>
          <param name="spi_device">/dev/spidev0.0</param>
          <param name="spi_mode">1</param>
          <!-- <param name="bus_speed_hz">500000</param> -->
          <param name="bus_speed_hz">125000</param>
          <param name="bits_per_word">8</param>
          <param name="stepper_side">l</param>
        </hardware>
      </xacro:unless>
      <xacro:include filename="$(find bothoven_description)/ros2_control/left_stepper_joint.xacro" />
    </ros2_control>

    <ros2_control name="right_stepper_driver" type="system" is_async="false">
      <xacro:if value="${use_sim}">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="${use_sim}">
        <hardware>
          <plugin>cl42t_hardware_interface/Cl42tSystemHardware</plugin>
          <param name="spi_device">/dev/spidev0.0</param>
          <param name="spi_mode">1</param>
          <!-- <param name="bus_speed_hz">500000</param> -->
          <param name="bus_speed_hz">125000</param>
          <param name="bits_per_word">8</param>
          <param name="stepper_side">r</param>
        </hardware>
      </xacro:unless>
      <xacro:include filename="$(find bothoven_description)/ros2_control/right_stepper_joint.xacro" />
    </ros2_control>

  </xacro:macro>
</robot>