<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Finger Macro -->
  <xacro:macro name="finger" params="prefix parent_link finger_num xyz_mount rpy_mount">
    <!-- Solenoid Link -->
    <link name="${prefix}_solenoid_${finger_num}">
      <visual>
        <origin xyz="0 0.027359073967098360841 -0.036000000000000004219" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description/meshes/large_solenoid.stl"/>
        </geometry>
        <material name="large_solenoid_material"/>
      </visual>
      <visual>
        <origin xyz="1.3877787807814456755e-17 0.0074929958267665672245 0" rpy="3.141592653589793116 0 0" />
        <geometry>
          <mesh filename="package://description/meshes/large_finger_solenoid.stl"/>
        </geometry>
        <material name="large_finger_solenoid_material"/>
      </visual>
      <inertial>
        <origin xyz="1.7276994838517517774e-08 0.023549138202856669672 -0.021326177734694938548" rpy="0 0 0"/>
        <mass value="0.55338609888308010198" />
        <inertia ixx="0.00016287530117454286681" ixy="4.5851672331546051194e-10" ixz="-9.7499035282877420938e-11" iyy="7.4613511550565022159e-05" iyz="-1.8189117257819838714e-07" izz="0.00014685197355774080646" />
      </inertial>
    </link>

    <!-- Finger Arm Link -->
    <link name="${prefix}_arm_${finger_num}">
      <visual>
        <origin xyz="0.063368257669539254651 -5.4787295081876186131e-05 -0.0050000000000000044409" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://description/meshes/finger_arm_large.stl"/>
        </geometry>
        <material name="finger_arm_large_material"/>
      </visual>
      <inertial>
        <origin xyz="0.051327194737765820254 -0.0021301611848530584148 -0.0025000197144712252642" rpy="0 0 0"/>
        <mass value="0.007972723597301041229" />
        <inertia ixx="5.9298578433162395778e-07" ixy="7.2370069362940225858e-07" ixz="-1.3145273744757145031e-11" iyy="1.1055709395186790427e-05" iyz="-3.8580036837076919589e-12" izz="1.1616703844229351174e-05" />
      </inertial>
    </link>

    <!-- Servo Joint (renamed from Finger_Mount) -->
    <joint name="${prefix}_servo_${finger_num}" type="revolute">
      <origin xyz="${xyz_mount}" rpy="${rpy_mount}" />
      <parent link="${parent_link}" />
      <child link="${prefix}_solenoid_${finger_num}" />
      <axis xyz="0 0 1"/>
      <limit effort="1" velocity="20" lower="${servo_min}" upper="${servo_max}"/>
    </joint>

    <!-- Solenoid Joint (renamed from Finger_Arm) -->
    <joint name="${prefix}_solenoid_${finger_num}" type="revolute">
      <origin xyz="0.003 -0.029897960988655505887 -0.046304046845760712947" rpy="-1.570796326794896558 0 -1.5707963267948970021" />
      <parent link="${prefix}_solenoid_${finger_num}" />
      <child link="${prefix}_arm_${finger_num}" />
      <axis xyz="0 0 -1"/>
      <limit effort="1" velocity="20" lower="${solenoid_min}" upper="${solenoid_max}"/>
    </joint>
  </xacro:macro>

</robot>