<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <robotNamespace>/</robotNamespace>
            <parameters></parameters>
            <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
        </plugin>
    </gazebo>

    <!-- Left Hand Controllers -->
    <gazebo>
        <plugin name="left_hand_controller" filename="libgazebo_ros_joint_trajectory_controller.so">
            <robotNamespace>/left_hand</robotNamespace>
            <joint>left_hand_stepper_joint</joint>
            <joint>left_hand_thumb_solenoid_joint</joint>
            <joint>left_hand_thumb_servo_joint</joint>
            <joint>left_hand_index_solenoid_joint</joint>
            <joint>left_hand_index_servo_joint</joint>
            <joint>left_hand_middle_solenoid_joint</joint>
            <joint>left_hand_middle_servo_joint</joint>
            <joint>left_hand_ring_solenoid_joint</joint>
            <joint>left_hand_ring_servo_joint</joint>
            <joint>left_hand_pinky_solenoid_joint</joint>
            <joint>left_hand_pinky_servo_joint</joint>
        </plugin>
    </gazebo>

    <!-- Right Hand Controllers -->
    <gazebo>
        <plugin name="right_hand_controller" filename="libgazebo_ros_joint_trajectory_controller.so">
            <robotNamespace>/right_hand</robotNamespace>
            <joint>right_hand_stepper_joint</joint>
            <joint>right_hand_thumb_solenoid_joint</joint>
            <joint>right_hand_thumb_servo_joint</joint>
            <joint>right_hand_index_solenoid_joint</joint>
            <joint>right_hand_index_servo_joint</joint>
            <joint>right_hand_middle_solenoid_joint</joint>
            <joint>right_hand_middle_servo_joint</joint>
            <joint>right_hand_ring_solenoid_joint</joint>
            <joint>right_hand_ring_servo_joint</joint>
            <joint>right_hand_pinky_solenoid_joint</joint>
            <joint>right_hand_pinky_servo_joint</joint>
        </plugin>
    </gazebo>
</robot>