<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <xacro:include filename="$(find hardware)/urdf/stepper_joints.xacro"/>
        <xacro:include filename="$(find hardware)/urdf/solenoid_joints.xacro"/>
        <xacro:include filename="$(find hardware)/urdf/servo_joints.xacro"/>
    </ros2_control>

    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
            <parameters>$(find hardware)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>